footer,
.navbar,
.section-full{
    background-color: #eae7dc;
}

    /* navbar style */ 
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    color: #9B9DBF;
    }

    /* jumbotron style */ 
.jumbotron {
    background-color: #9B9DBF;
}

.display-4 {
    font-family: 'Montserrat', sans-serif;
   font-weight: 900;
    color: white;
}


    /* footer button style */ 
footer{
    justify-content: center;
}

.btn {
    background-color: #d8c3a5;
    border-color: #d8c3a5;
}

a,
p,
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #222222;
}