
    /* navbar style */ 
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    }

    /* jumbotron style */ 
.jumbotron {
    background-color: #222222;
}

.display-4 {
    font-family: 'Montserrat', sans-serif;
   font-weight: 900;
    color: white;
}

    /* paragraph style */ 
 .p {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

    /* footer button style */ 
.btn {
    background-color: #222222;
    border-color: #222222;
}