
/* navbar style */ 
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    }

/* jumbotron style */ 
.jumbotron {
    background-color: #222222;
}


.display-4 {
    font-family: 'Montserrat', sans-serif;
   font-weight: 900;
    color: white;
}

.lead {
    color: white;
    letter-spacing: .05em;
    font-weight: 200;
}

/* card style */ 
.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.btn {
    background-color: #222222;
    border-color: #222222;
}