footer
.navbar,
.section-full{
    background-color: #eae7dc;
}

/* navbar style */ 

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #9B9DBF;
    }

/* jumbotron style */ 
.jumbo1 {
    background-color: #9B9DBF;
}

.display-4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
}

.lead {
    color: white;
    letter-spacing: .05em;
    font-weight: 200;
}

    /* Section */
.sectionTitle{
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
}

    /* carousel */
.carouselMargin{
margin-top: 20px;
margin-left: 60px;
margin-right: 60px;
margin-bottom: 60px;
}


.controlBtn{
background-color: #C2D9A0;
border-color: #C2D9A0;
}

.modal-btn{
margin-top: 30px;
margin-left: 40%;
margin-right: 40%;
}

    /* card style */ 
.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #9B9DBF;
}

    /* footer button style */
.btn {
    background-color: #d8c3a5;
    border-color: #d8c3a5;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #d8c3a5;
}

a,
p,
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #222222;
}